<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="utf-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/showAll.css}" rel="stylesheet">
    <style type="text/css">
        .table > tbody > tr > td {
            padding: 8px 2px;
            line-height: 5;
            vertical-align: top;
            border-top: 1px solid #269abc;
            /*width: 130px;*/
        }

        pre {
            padding: 0px;
            margin: 0px;
            border: 0px solid #ccc;
            text-align: left;
            /*width: 125px;*/
        }
    </style>
</head>

<div th:include="course/showClass :: starter"></div>

<body>
<article class="container">
    <section>
        <div style="font-size: 40px;height: 8vh;padding-top: 25px;">
            <p class="text-center" style="color: #1b6d85">
                学生个人课表
            </p>
        </div>

    </section>

    <section>
        <table class="table table-hover table-striped table-bordered abc">
            <thead>
            <tr>
                <th style="width: 40px;"></th>
                <th>节次</th>
                <th>星期一</th>
                <th>星期二</th>
                <th>星期三</th>
                <th>星期四</th>
                <th>星期五</th>
                <th>星期六</th>
                <th>星期日</th>
            </tr>
            </thead>
            <tbody id="tb">

            </tbody>
        </table>
    </section>


</article>

<div th:include="course/showClass :: footer"></div>
</body>
<script th:src="@{/js/lib/require.js}" th:attr="data-main=@{/js/script/calendar.js}"></script>
<script type="text/javascript" th:inline="javascript">
    require(['/js/config.js'], function () {
        require(['/js/script/calendar.js']);
    });
</script>

</html>