<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>timetable</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/showAll.css}"  rel="stylesheet">
    <link th:href="@{/css/bootstrap-table.css}"  rel="stylesheet">
    <link th:href="@{/css/pagination.css}"  rel="stylesheet">
    <link th:href="@{/css/fullcalendar.css}"  rel="stylesheet">


</head>
<body>
<div th:include="course/showClass :: starter"></div>

<div id="calendars" style="padding-left: 20%;padding-top: 2%; padding-right: 20% ;"></div>


<div th:include="course/showClass :: footer"></div>


</body>

<script th:src="@{/js/lib/require.js}" th:attr="data-main=@{/js/script/calendar.js}" ></script>
<script type="text/javascript"  th:inline="javascript">
    require(['/js/config.js'], function () {
        require(['/js/script/calendar.js']);
    });
</script>

</html>