<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
  <!--<link rel="icon" type="image/png" href="https://img.alicdn.com/tps/TB1kBU7NpXXXXXLXXXXXXXXXXXX-160-160.png">-->
  <link rel="icon" type="image/png" href="/psc/public/images/xjtulogo.png">
  <meta name="viewport" content="width=device-width">

  <meta name="_csrf" content="${_csrf.token}"/>
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" content="${_csrf.headerName}"/>
  <title>英语小班实践课程选课系统</title>
<link href="/psc/manage/css/index.css" rel="stylesheet"></head>

<body>
  <div id="ice-container"></div>

  <script src="/psc/js/react-dom.production.min.js"></script>
<script type="text/javascript" src="/psc/manage/js/index.js"></script></body>

</html>
