<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome</title>
<link href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<script src="static/js/jquery.min.js" th:href="@{/js/jquery.min.js}" ></script>
<script src="static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
        <caption>课程列表</caption>
        <thead>
        <tr>
            <th>课程名称</th>
            <th>班次</th>
            <th>老师</th>
            <th>当前选课人数</th>
            <th>选课人数上限</th>
            <th>授课时间</th>
            <th>授课地点</th>
            <th>课程时长</th>
            <th>课程所属模块</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "class: ${classes}">
            <td th:text="${class.className}"></td>
            <td th:text="${class.classNum}"></td>
            <td th:text="${class.teaName}"></td>
            <td th:text="${class.classChooseNum}"></td>
            <td th:text="${class.classUpperLimit}"></td>
            <td th:text="${class.classPlace}"></td>
            <td th:text="${class.classLength}"></td>
            <td th:text="${class.classModuleNum}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-default" href="/add-todo">Add a Todo</a>
    </div>
</div>
</body>
</html>