<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.manageDao.TimeIntervalDao.TimeIntervalDao">
    <select id="getTimeInterval" resultType="map">
        SELECT * FROM  TimeInterval;
    </select>

    <update id="setTimeInterval">
        UPDATE TimeInterval
        <set>
           timeInterval = #{timeInterval} where id = 0;
        </set>
    </update>
</mapper>