<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.manageDao.EvaluationDisplayDao.EvaluationDisplayDao">

    <sql id="BASE_TABLE">
        Course
    </sql>

    <select id="getAllClassEvaluation" resultType="Map">
        SELECT * from studentComment
        WHERE classId = #{classId}
    </select>

    <select id="getAllClasses" resultType="com.spc.model.ClassDomain" useCache="false">
        select
        classId,className,classNum,teaId,teaName,classChooseNum,classUpperLimit,classDateDescription,
        classPlace,classLength,classModuleNum,m.modelsName as modelsName,teacherInfo,courseInfo,
        a.departId,classSemester,classGradePoint,endWeek,startWeek,schoolDistrictId,
        classEncode,classTime,mainLecturer,b.departName as departName
        from
        <include refid="BASE_TABLE"/>
        a
        left join Department b
        on a.departId = b.departId
        left join models m
        on a.classModuleNum = m.modelsId
    </select>

</mapper>