<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course basic</title>
    <link href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="static/css/showAll.css" th:href="@{/css/showAll.css}" rel="stylesheet">
    <script src="static/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
    <script src="static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
    <img src = "/graph/logo.png" th:attr="src=@{/graph/logo.png}"/>
    <div class="header-txt">
        <p class="header-txt-left">
            研究生选课系统
            <b>
                (&nbsp;<span>学生服务</span>&nbsp;)
            </b>
        </p>
    </div>
</header>

</body>

</body>
</html>