<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/showAll.css}"  rel="stylesheet">
    <link th:href="@{/css/bootstrap-table.css}"  rel="stylesheet">
    <link th:href="@{/css/pagination.css}"  rel="stylesheet">
    <script type="text/css">
        button{
            margin-left: 10px;
        }

    </script>
</head>
<body>
<div th:fragment="starter">
    <header>
    <img src = "/graph/logo.png" th:attr="src=@{/graph/logo.png}"/>
    <div class="header-txt">
        <p class="header-txt-left">
            <!--<font size="5">研究生选课系统</font>-->
            <b>
                (&nbsp;<span>学生端</span>&nbsp;)
            </b>
        </p>
    </div>
    </header>
</div>

<article class="container" th:fragment="classes">

    <section>
        <div class="form-query" align="center" style="background-color: white ;font-family: 'Open Sans',serif;">
           <span style="margin-left: auto;margin-right: auto; letter-spacing: 10px" > <p class="glyphicon glyphicon-star" >选/择/课/程
            </p></span>
        </div>
        <div class="form-query form-select" style="background-color: white">
            <div class="col-md-4 ">
            <div class="select-first">
                <label  for="sel_search_orderstatus">院系：</label>
                <select id="sel_search_orderstatus" class="query-select" placeholder="--请选择--">
                    <option value ="">----请选择----</option>
                    <!--<option value="001">机械工程学院</option>-->
                </select>
            </div>
            </div>

            <div class="col-md-5 "  align="center">
            <div class="select-third">
                <label for="sel_search_orderstatus">课程名称：
                    <input id="classId" name="className"  type="text" class="query-select"  style="height: 30px;line-height:30px;margin-top: 5px;text-align: center;margin-right: auto;margin-left: auto"/>
                </label>
            </div>
            </div>
                <div class="col-md-3 ">
            <div class="select-forth" align="right">
                <button class="btn btn-primary glyphicon glyphicon-search" id ="find"
                        style="background-color: #4287AE;height: 80%;padding-top: 4px;margin-top: -2px;margin-right: auto;margin-left: auto">
                    查询
                </button>
            </div>
                </div>
        </div>
    </section>
    <section >

        <table class="table table-striped table-hover " id = "showInfo">
            <thead>
            <tr>
                <th>课程名称</th>
                <th>班次</th>
                <th>老师</th>
                <th>当前选课人数</th>
                <th>选课人数上限</th>
                <th>授课时间</th>
                <th>授课地点</th>
                <th>课程时长</th>
                <th>课程所属模块</th>
                <th>选课</th>
            </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>
        <section>
            <div id="page">
            </div>
        </section>
    </section>


    <section>
        <div class="col-md-12 row " align="center"  >
            <span colspan="4" style="letter-spacing: 10px;padding: 0px;color: #4587ad;margin-left: auto;margin-right: auto" class="glyphicon  glyphicon-star table">已/选/课/程</span>
        </div>
        <div   class="col-md-11  btn-group  " style="padding-top: 5px;padding-bottom: 7px;" role="group" >
            <ul id = "havenAdd" style="overflow-x: auto; list-style: none;white-space:nowrap;width: auto;">
            </ul>
        </div>
        <div class="col-md-1"><button class="btn btn-primary">提交</button></div>
    </section>



</article>

<!--<div th:include="footer :: copyright"></div>-->
<footer>
<section  id="footer" >
    <div class="container"> <!--防止排版错误style="position: absolute;background: #4287ae;bottom: 0px;width: 100%" -->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>西安交通大学研究生院 西安市咸宁西路28号</p>
                <p class="h6">Copyright &nbsp;&&nbsp;All right Reversed.<a class="text-green ml-2" href="http://labs.xjtudlc.com/labs/cloud.html" target="_blank">税务大数据小组</a></p>
            </div>
            </hr>
        </div>
    </div>
</section>
</footer>
<script th:src="@{/js/lib/require.js}" th:attr="data-main=@{/js/script/showClass.js}" ></script>
<script type="text/javascript"  th:inline="javascript">
    require(['/js/config.js'], function () {
        require(['/js/script/showClass.js']);
    });
</script>
</body>

</html>