<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="utf-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/showAll.css}"  rel="stylesheet">
    <link th:href="@{/css/bootstrap-table.css}"  rel="stylesheet">
    <link th:href="@{/css/pagination.css}"  rel="stylesheet">
</head>
<body>
<header>
    <img src = "/graph/logo.png" th:attr="src=@{/graph/logo.png}"/>
    <div class="header-txt">
        <p class="header-txt-left">
            <font size="5">研究生选课系统</font>
            <b>
                (&nbsp;<span>学生服务</span>&nbsp;)
            </b>
        </p>
    </div>
</header>


<article class="container">

    <section>
        <div class="form-query">
            <p class="form-query-h">
                课程排课查询
            </p>
            <div class="form-query-h">
                <button>返回</button>
            </div>
        </div>
        <div class="form-query form-select">
            <div class="col-md-4 ">
            <div class="select-first">
                <label  for="sel_search_orderstatus">院系：</label>
                <select id="sel_search_orderstatus" class="query-select" placeholder="--请选择--">
                    <option value ="">----请选择----</option>
                    <!--<option value="001">机械工程学院</option>-->
                </select>
            </div>
            </div>
            <!--<div class="col-md-3 ">-->
            <!--<div class="select-second">-->
                <!--<label for="sel_search_orderstatus">学期：</label>-->
                <!--<select id="sel_search_orderstatus_1" class="query-select">-->
                    <!--<option value="1">&#45;&#45;请选择&#45;&#45;</option>-->
                    <!--<option value="39">2018秋</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--</div>-->
            <div class="col-md-6 ">
            <div class="select-third">
                <label for="sel_search_orderstatus">课程名称：
                    <input id="classId" name="className"  type="text" class="query-select"  style="height: 30px;line-height:30px;margin-top: 5px;text-align: center"/>
                </label>
            </div>
            </div>
                <div class="col-md-2 ">
            <div class="select-forth">
                <button type="button" id="find" class="find"    style="height: 30px;line-height:30px;margin-top: 5px;text-align: center">
                    <!--<i class="icon-search query-select" ></i>-->
                    查询
                </button>
            </div>
                </div>

        </div>
    </section>
    <!--<section>-->
        <!--<table id = "table_server">-->

        <!--</table>-->
    <!--</section>-->
    <section>
        <table class="table table-striped table-hover" id = "showInfo">
            <thead>
            <tr>
                <th>课程名称</th>
                <th>班次</th>
                <th>老师</th>
                <th>当前选课人数</th>
                <th>选课人数上限</th>
                <th>授课时间</th>
                <th>授课地点</th>
                <th>课程时长</th>
                <th>课程所属模块</th>
            </tr>
            </thead>
            <tbody class="tbody">

            </tbody>
        </table>


    </section>
    <section>
         <div id="page">
         </div>
    </section>
</article>

<!--<div th:include="footer :: copyright"></div>-->
<section id="footer" >
    <div class="container"> <!--防止排版错误style="position: absolute;background: #4287ae;bottom: 0px;width: 100%" -->
        <div class="row text-center text-xs-center text-sm-left text-md-left">

            <!--<div class="col-xs-12 col-sm-4 col-md-4">-->
                <!--<h5>Quick links</h5>-->
            <div>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>-->
                    <!--<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>-->
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>西安交通大学研究生院 西安市咸宁西路28号</p>
                <p class="h6">Copyright &nbsp;&&nbsp;All right Reversed.<a class="text-green ml-2" href="http://labs.xjtudlc.com/labs/cloud.html" target="_blank">税务大数据小组</a></p>
            </div>
            </hr>
        </div>
    </div>
</section>
<!--<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>-->
<script th:src="@{/webjars/requirejs/2.2.0/require.js}" th:attr="data-main=@{/js/script/showClass.js}" ></script>
<script type="text/javascript"  th:inline="javascript">
    require(['/js/config.js'], function () {
        require(['/js/script/showClass.js']);
    });
</script>
</body>

</html>