<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.DepartmentDao">

    <select id="selectAll" resultType="com.spc.model.Department" useCache="true">
        select * from course.Department
        order by departId asc
    </select>

    <select id="selectById">
        select departName
        from course.Department
        where departId=#{departId}
    </select>

</mapper>