<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.GradeDao">

    <sql id="BASE_TABLE">
        Grade
    </sql>


    <select id="selectGrade" resultType="com.spc.model.GradeDomain" parameterType="int" >
        select
        g.classId,g.wlzzxxGrade,g.knskGrade,g.xbsjGrade,g.zzGrade,g.stuId,g.flag,g.gradeAll,c.className,c.classSemester,c.classGradePoint
        from
        Course_choose g
        left join Course c
        on g.classId = c.classId
        <where>
            <if test="classId!= 88888888">
                and g.classId= #{classId}
            </if>
            <if test="stuId!= '' and stuId!=null ">
                and g.stuId= #{stuId}
            </if>
        </where>
    </select>

    <select id="selectGetTitle" resultType="map">
        SELECT * FROM course.gradePercent
    </select>

    <select id="getModelGrade" resultType="map">
        select a.xbsjGrade, a.stuId, a.classId, b.classSemester, b.className, b.classTime,c.knskGrade,c.wlzzGrade,c.gradeAll
        from Course_choose a
        left join Course b
        on a.classId = b.classId
        left join GradeAll c
        on a.stuId = c.stuId
        where a.stuId = #{stuId}
    </select>
    <update id="updateGrade">
      update course.Course_choose set course.Course_choose.xbsjGrade=#{grade}
      where classId=#{classId}
      and stuId=#{stuId}
     </update>

    <update id="updateKnskGrade">
      update course.KnskGrade set course.KnskGrade.knskGrade=#{grade}
      where JXBID=#{JXBID}
      and XH=#{stuId}
     </update>

    <select id="findAllStudent" resultType="map">
        select a.*,b.username as XM,b.tutoremployeeid,b.speciality,b.dep as departName
        from course.OtherGrade a
        LEFT join course.XjtuUserInfo b
        on a.XH=b.userno
        left join  course.Department c
        on b.depid=c.departCode
        <where>
            <if test="depId!=88888888 and depId!=null">
                and c.departId= #{depId}
            </if>
            <if test="stuId!= '88888888' and stuId!=null ">
                and a.XH= #{stuId}
            </if>
            <if test="academicYear!=null">
                and a.academicYear = #{academicYear}
            </if>
        </where>
    </select>

    <select id="findStuById" resultType="map">
        select a.*,b.username as XM,b.tutoremployeeid,b.speciality,b.dep as departName
        from course.OtherGrade a
        LEFT join course.XjtuUserInfo b
        on a.XH=b.userno
        where a.XH = #{stuId}
    </select>

    <update id="updateWlzzScore">
      update course.OtherGrade set course.OtherGrade.wlzzGrade=#{grade}
      where course.OtherGrade.XH=#{stuId}
     </update>

    <update id="updateDektScore">
      update course.OtherGrade set course.OtherGrade.dektGrade=#{grade}
      where course.OtherGrade.XH=#{stuId}
     </update>

    <update id="updateNlcsScore">
      update course.OtherGrade set course.OtherGrade.nlcsGrade=#{grade}
      where course.OtherGrade.XH=#{stuId}
     </update>

    <insert id="insertStu" >
    INSERT INTO course.OtherGrade
        (XH,academicYear) VALUES (#{stuId}, #{academicYear})
    </insert>

    <select id="findWlzzIsGrade" resultType="map">
        select *
        from course.OtherGrade a
        where a.wlzzIsSubmit = 0
    </select>

    <select id="findDektIsGrade" resultType="map">
        select *
        from course.OtherGrade a
        where a.dektIsSubmit = 0
    </select>

    <select id="findNlcsIsGrade" resultType="map">
        select *
        from course.OtherGrade a
        where a.nlcsIsSubmit = 0
    </select>

    <select id="findXbsjStudents" resultType="map">
        select a.xbsjGrade as grade, a.stuId, a.isChecked as status,b.username as stuName,b.dep,b.speciality
        from Course_choose a
        left join course.XjtuUserInfo b
        on a.stuId=b.userno
        where a.classId = #{classId}
    </select>

    <select id="findKnskStudents" resultType="map">
        select a.knskGrade as grade, a.XH as stuId, a.isChecked as status,c.username as stuName,c.dep,c.speciality
        from course.KnskGrade a
        left join course.XjtuUserInfo c
        on a.XH=c.userno
        where a.JXBID = #{classId}
    </select>

    <update id="updateXbsjChecked">
      update course.Course_choose set course.Course_choose.isChecked=#{isChecked}
      where course.Course_choose.stuId=#{stuId} and course.Course_choose.classId=#{classId}
     </update>

    <update id="updateKnskChecked">
      update course.KnskGrade set course.KnskGrade.isChecked=#{isChecked}
      where course.KnskGrade.XH=#{stuId} and course.KnskGrade.JXBID=#{classId}
     </update>


    <update id="updateKnskSubmit">
      update course.v_t_xk_by_yjsrw set course.v_t_xk_by_yjsrw.isGrade=0
      where course.v_t_xk_by_yjsrw.JXBID=#{classId}
     </update>

    <update id="updateXbsjSubmit">
      update course.Course set course.Course.isGrade=0
      where course.Course.classId=#{classId}
     </update>

    <select id="findAllScore" resultType="map">
        select a.stuId,a.xbsjGrade,a.knskGrade,a.wlzzGrade,a.dektGrade,a.nlcsGrade, a.sumGrade ,b.dep as departName,b.speciality,b.username as stuName
        from course.GradeAll a
        left join course.XjtuUserInfo b
        on a.stuId=b.userno
        left join course.Department c
        on b.depid=c.departCode
        <where>
            <if test="departId!=88888888">
                and c.departId=#{departId}
            </if>
            <if test="stuId!='88888888'">
                and a.stuId=#{stuId}
            </if>
        </where>
    </select>


    <update id="uploadAllGradeKnsk">
      update course.GradeAll set course.GradeAll.knskGrade=#{grade}
      where course.GradeAll.stuId=#{stuId}
     </update>

    <update id="uploadAllGradeXbsj">
      update course.GradeAll set course.GradeAll.xbsjGrade=#{grade}
      where course.GradeAll.stuId=#{stuId}
     </update>

    <update id="uploadAllGradeOther1">
      update course.GradeAll set course.GradeAll.wlzzGrade=#{grade}
      where course.GradeAll.stuId=#{stuId}
     </update>

    <update id="uploadAllGradeOther2">
      update course.GradeAll set course.GradeAll.dektGrade=#{grade}
      where course.GradeAll.stuId=#{stuId}
     </update>

    <update id="uploadAllGradeOther3">
      update course.GradeAll set course.GradeAll.nlcsGrade=#{grade}
      where course.GradeAll.stuId=#{stuId}
     </update>

    <update id="updateWlzzIsSubmit">
      update course.OtherGrade set course.OtherGrade.wlzzIsSubmit=1
     </update>

    <update id="updateDektIsSubmit">
      update course.OtherGrade set course.OtherGrade.dektIsSubmit=1
     </update>

    <update id="updateNlcsIsSubmit">
      update course.OtherGrade set course.OtherGrade.nlcsIsSubmit=1
     </update>

    <select id="findGradePercent" resultType="map">
        select xbsjGradePercent,knskGradePercent,nlcsGradePercent,wlzzGradePercent,dektGradePercent
        from course.gradePercent
        where typeId=#{stuType}
    </select>

    <update id="updateSumGrade">
      update course.GradeAll set course.GradeAll.sumGrade=#{grade}
      where course.GradeAll.stuId=#{stuId}
     </update>

    <select id="findStuType" resultType="int">
        select stutype
        from course.XjtuUserInfo
        where userno=#{stuId}
    </select>

</mapper>
