<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta charset="utf-8"/>
    <link href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="static/css/showAll.css" th:href="@{/css/showAll.css}" rel="stylesheet">
    <script th:href="@{/js/jquery.min.js}"></script>
    <script th:href="@{/js/bootstrap.min.js}"></script>



</head>


<body>

<div>
    <div style=" height: 85vh;width: 60vw;margin-left:20vw;padding-top: 20vh;">
        <div class="jumbotron"  >
            <h1 class="display-4">选课系统 </h1>
            <p class="lead"> This is an English special practice online course selection system.</p>
            <hr class="my-4" >
            <p>具体功能如下</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/student/classes" role="button">选课</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">改课</a>
                <a class="btn btn-primary btn-lg" href="/student/calendar" role="button">课表查询</a>
                <a class="btn btn-primary btn-lg" href="/test/form" role="button">测试</a>
            </p>
        </div>
        <!--<p style="font-size: 50px;text-align: center;color:red "> 选&nbsp;课&nbsp;系&nbsp;统</p>-->


        <!--<ul class="nav" style="margin-top: 10vh;text-align: center;font-size: 30px; ">-->
            <!--<li class="nav-item" style="display: inline-block;">-->
                <!--<a class="nav-link active" href="/student/classes" style="color: black">选课</a>-->
            <!--</li>-->
            <!--<li class="nav-item" style="display: inline-block;">-->
                <!--<a class="nav-link" style="color: black" href="#">改课</a>-->
            <!--</li>-->
            <!--<li class="nav-item" style="display: inline-block;">-->
                <!--<a class="nav-link" style="color: black" href="/student/calendar">课表查询</a>-->

            <!--</li>-->
            <!--<li class="nav-item" style="display: inline-block;">-->
                <!--<a class="nav-link disabled" style="color: black" href="#">成绩查询</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
</div>




</body>
</html>