<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.ClassDao" >
    <sql id="BASE_TABLE">
        Course
    </sql>

    <sql id="BASE_COLUMN">
        classId,className,classNum,teaId,teaName,classChooseNum,classUpperLimit,classDateDescription,
        classPlace,classLength,classModuleNum,teacherInfo,courseInfo,a.departId,classSemester,classGradePoint
    </sql>

    <insert id="insert" parameterType="com.spc.model.ClassDomain">
        insert into
        <include refid="BASE_TABLE"/>
        <trim prefix=" (" suffix=" )">
            <include refid="BASE_COLUMN"/>
        </trim>
        values
        <trim prefix="( " suffix=" )">
            #{classId},#{className},#{classNum},#{teaId},#{teaName},#{classChooseNum},#{classUpperLimit},#{classDateDescription},
            #{classPlace},#{classLength},#{classModuleNum},#{teacherInfo},#{courseInfo},#{departId},#{classSemester} ,#{classGradePoint}
        </trim>
    </insert>


    <select id="selectClasses" resultType="com.spc.model.ClassDomain">
        select
        classId,className,classNum,teaId,teaName,classChooseNum,classUpperLimit,classDateDescription,
        classPlace,classLength,classModuleNum,m.modelsName,teacherInfo,courseInfo,a.departId,classSemester,classGradePoint
        from
        <include refid="BASE_TABLE"/> a
        left join  Department b
        on a.departId = b.departId
        left join  models m
        on a.classModuleNum = m.modelsId
        <where>
          <if test="departId!=88888888 ">
              b.departId = #{departId}
          </if>
          <if test="className!=null and className!='' ">
              and a.className like  "%"#{className}"%"
          </if>
          <if test="teaId!=88888888">
              and a.teaId = #{teaId}
          </if>
        </where>
    </select>



    <select id="findCourseTable" resultType="hashmap">
        select
        classDateDescription,teaName,classPlace
        from  Course
        <where>
            teaId = #{teaId}
        </where>
    </select>
    
    <update id="updateScore">
        UPDATE Course_choose c
        INNER JOIN Course a
        ON c.classId = a.classId
        SET c.score = #{score}
        WHERE a.className = #{className}
        and c.stuId = #{stuId}
    </update>

</mapper>
