<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.ClassAllDao">
    <insert id="insertFirstClass"  useGeneratedKeys="true" keyProperty="id" flushCache="true" >
      insert into course.ClassAll(departId,courseId,courseNameCHS,courseNameEN,moduleId,academicYear,classSemester,classHour,stuNumUpperLimit,teacherId,teacherName,className)
      values(#{departId},#{courseId},#{courseNameCHS},"英语名字",#{classModuleNum},"academicYear","classSemester",#{classTime},"25",#{teaId},#{teaName},#{className})
    </insert>
</mapper>
