<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.CourseAllDao">

    <select id="select" resultType="com.spc.model.CourseAll" useCache="false">
        <!-- 课程名称模糊匹配 -->
        select * from course.CourseAll
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="departId != null">
                and departId = #{departId}
            </if>
            <if test="moduleId != null">
                and moduleId = #{moduleId}
            </if>
            <if test="courseId != null and courseId !=''">
                and courseId = #{courseId}
            </if>
            <if test="courseName != null and courseName !=''">
                <bind name="pattern" value="'%'+ courseName +'%'"/>
                and (courseNameCHS like #{pattern} or courseNameEN like #{pattern})
            </if>
            <if test="teacherId != null and teacherId !=''">
                and teacherId = #{teacherId}
            </if>
            <if test="teacherName != null and teacherName !=''">
                and teacherName = #{teacherName}
            </if>
            <if test="classSemester != null and classSemester !=''">
                and classSemester = #{classSemester}
            </if>
            <if test="classDateDesc != null and classDateDesc !=''">
                and classDateDesc = #{classDateDesc}
            </if>
            <if test="classPlace != null and classPlace !=''">
                and classPlace = #{classPlace}
            </if>
        </where>
        order by id asc
    </select>

    <select id="selectCourseById" resultType="com.spc.model.CourseAll" useCache="false">
        select * from course.CourseAll where id = #{id}
    </select>

    <select id="selectCoursesByTeacherIdAndClassSemester" resultType="com.spc.model.CourseAll" useCache="false">
        select * from course.CourseAll
        where teacherId = #{teacherId}
        and classSemester = #{classSemester}
        and classDateDesc is not null
    </select>

    <select id="selectCoursesByClassPlaceAndClassSemester" resultType="com.spc.model.CourseAll" useCache="false">
        select * from course.CourseAll
        where classPlace = #{classPlace}
        and classSemester = #{classSemester}
        and classDateDesc is not null
    </select>

    <update id="updateCourseSchedule" flushCache="true">
        update course.CourseAll
        <set>
            classDateDesc = #{classDateDesc},
            classPlace = #{classPlace},
            conflictDesc = #{conflictDesc}
        </set>
        where id=#{id}
    </update>

    <insert id="insertCourse"  useGeneratedKeys="true" keyProperty="fileInfoId" flushCache="true" >
      insert into CourseAll(departId,courseId,courseNameCHS,courseNameEN,moduleId,academicYear,classSemester,classHour,stuNumUpperLimit,teacherId,teacherName,courseInfo,teacherInfo)
      values(#{departId},#{courseId},#{className},"英语名字",#{classModuleNum},"academicYear","classSemester",#{classTime},"25",#{teaId},#{teaName},#{courseInfo},#{teacherInfo})
    </insert>
</mapper>