<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.IssueGradeDao">
    
    <select id="select" resultType="map">
        select classId
        from course.IssueGrade
        where classId=#{classId}
    </select>

    <insert id="insert">
        INSERT INTO IssueGrade
        (classId,model1, model2) VALUES (#{classId}, #{model1}, #{model2})
    </insert>
    <update id="update">
        update course.IssueGrade set
        <trim suffixOverrides=",">
            <if test="model1!=0">
              model1=#{model1},
            </if>
            <if test="model2!=0">
              model2=#{model2},
            </if>
        </trim>
        where course.IssueGrade.classId = #{classId}
    </update>

</mapper>
