<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.StudentApplicationDao" >
    <sql id="BASE_TABLE">
        StudentApplication
    </sql>
   <insert id="add">
       insert  into
       <include refid="BASE_TABLE"/>
       classId,stuId,states,reason
       values
       #{classId}, #{stuId}, #{states},#{reason}
   </insert>

</mapper>
