<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.StudentApplicationDao">
    <sql id="BASE_TABLE">
        StudentApplication
    </sql>
    <sql id="BASE_COLS">
        classId,stuId,states,reason,checked
    </sql>


    <select id="selectById" resultType="com.spc.model.StudentApplicationDomain">
      select s.id,s.stuId,s.reason, s.mydate,s.checked,s.classNum,a1.category,s.classId
      from course.StudentApplication s
      left join Application_Category a1
      on s.states = a1.id
      where s.id =#{id}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into
        <include refid="BASE_TABLE"/>
        (classId,stuId,states,reason,checked,classNum)
        values
        (#{classId}, #{stuId}, #{states},#{reason},#{checked},#{classNum})
    </insert>

    <select id="findall" resultType="com.spc.model.StudentApplicationDomain">
        select s.id,s.stuId,s1.stuName,s.reason, s.mydate,a2.checkStr,a1.category,s.checked,c.className
        from course.StudentApplication s
        left join Application_Category a1
        on s.states = a1.id
        left join Application_Check a2
        on s.checked = a2.id
        left join course.XjtuUserInfo s1
        on s.stuId = s1.userno
        left join Course c
        on s.classId = c.classId
        <where>
            <if test="key!=88888888 and key!=0">
                s.checked=#{key}
            </if>
            <if test="stuId!=''">
                and s.stuId = #{stuId}
            </if>
        </where>
    </select>

    <select id="findallWithDate" resultType="com.spc.model.StudentApplicationDomain">
        select s.id,s.stuId,s1.username,s.reason, s.mydate ,a2.checkStr,a1.category,s.checked,c.className
        from course.StudentApplication s
        left join Application_Category a1
        on s.states = a1.id
        left join Application_Check a2
        on s.checked = a2.id
        left join course.XjtuUserInfo s1
        on s.stuId = s1.userno
        left join Course c
        on s.classId = c.classId
        <where>
            <if test="key!=88888888 and key!=0">
                s.checked=#{key}
            </if>
            <if test="stuId!=''">
                and s.stuId = #{stuId}
            </if>
            and cast(s.mydate as date) = #{date}
        </where>
    </select>

    <update id="checked">
        update  course.StudentApplication
        set checked = #{checked}
        where id=#{id} and checked=2
--         只有未审核的才能改变状态
    </update>
</mapper>
