<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.StudentDao" >
    <sql id="BASE_COLUMN">
      stuId,className,classDateDescription,classPlace,teaName
    </sql>

    <select id="findClasses" resultType="hashmap">
        select
        <include refid="BASE_COLUMN"/>
        from Course_choose a
        left join Course b
        on a.classId = b.classId
        <where>
            stuId = #{stuId}
        </where>
    </select>

</mapper>
