<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spc.dao.UserDao">
    <cache/>
    <!--<resultMap id="userMap" type="com.spc.model.UserDomain">-->
    <!--<id property="uid" column="uid"/>-->
    <!--<result property="userName" column="userName"/>-->
    <!--<result property="password" column="password"/>-->
    <!--<result property="stuId" column="stuId"/>-->
    <!--<association property="role"  column="uid" select="selectRole"/>-->
    <!--</resultMap>-->

    <!--<select id="selectRole" resultType="com.spc.model.RoleDomain">-->
    <!--select r.roleName,r.roleId-->
    <!--from-->
    <!--(select  u.uid, ru.roleId-->
    <!--from User u-->
    <!--left join Role_user ru-->
    <!--on u.uid = ru.uid-->
    <!--) a-->
    <!--left join Role r-->
    <!--on a.roleId = r.roleId-->
    <!--where a.uid = #{id}-->
    <!--</select>-->
    <select id="findUsersById" resultType="com.spc.model.UserDomain" useCache="false">
      SELECT *
      FROM course.User
      where  stuId= #{stuId}
  </select>
    
    <update id="udpate" parameterType="com.spc.model.UserDomain" flushCache="true">
        update course.User
        set role=#{role}
        where stuId =#{stuId}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="uid" parameterType="com.spc.model.UserDomain" flushCache="true"
            keyColumn="uid">
      insert  into  course.User (stuId, role) values(#{stuId}, #{role})
    </insert>


</mapper>